<!-- Div fo r all Heel type -->
<div class="form-group" id = "AllHeel" style = "display:None;margin-top:10px;" >
  <label style="margin-left:23px;">Type of Heel:</label>
  <select class="form-control" multiple= "multiple" id="idheeltype">
    <option value="blockheel">Block Heel</option>
    <option value="flat">Flat</option>
    <option value="funnel">Funnel Heel</option>
    <option value="hiddnplatform">Hidden Platform</option>
    <option value="hiddnwedge">Hidden Wedge</option>
    <option value="platform">Platform</option>
    <option value="platformboot">Platform Boots</option>
    <option value="platformtoe">Platform Toe</option>
    <option value="stilleto">Stilleto</option>
    <option value="wedge">Wedge</option>

  </select>
</div>

<!-- Div fo r Toe -->
<div class="form-group" id = "Alltoe" style = "display:None;margin-top:10px;" >
  <label >Toe:</label>
  <select class="form-control" multiple= "multiple" id="idtoe">
    <option value="open">Open</option>
    <option value="pointed">pointed</option>
    <option value="round">Round</option>
    <option value="squaretoe">Square Toe</option>
  </select>
</div>

<!-- Div fo r Fastener -->
<div class="form-group" id = "Allfastener" style = "display:None;margin-top:10px;" >
  <label >Fastener:</label>
  <select class="form-control" multiple= "multiple" id="idfastener">
    <option value="buckler">Buckle/Bow</option>
    <option value="laces">Laces</option>
    <option value="slip">Slip On</option>
    <option value="strap">Straps</option>
    <option value="velcro">Velcro Fastening</option>
    <option value="zip">Zip</option>

  </select>
</div>

<!-- Div fo r Heel Hight-->
<div class="form-group" id = "AllheelHight" style = "display:None;margin-top:10px;" >
  <label >Toe:</label>
  <select class="form-control" multiple= "multiple" id="idheelhight">
    <option value="high">High(over 3)</option>
    <option value="mid">Mid (1-3)</option>
    <option value="to">To 1</option>
    
  </select>
</div>
