
<!-- Div for all material type-->

<div class="form-group" id = "AllMaterial" style = "display:None; margin-top:10px;" >

<label style="margin-left:30px;" class="required" id="idlabelMaterial" >Material:</label>

<select class="form-control" multiple= "multiple" id="idmaterial">
<option value="braided">Braided</option>
  <option value="basemetal">Base Metal</option>
  <option value="cashmere">Cashmere</option>
  <option value="cord">Cord</option>
  <option value="cotton">Cotton</option>
  <option value="crocheted">Crocheted</option>
  <option value="denim">Denim</option>
  <option value ="felt">Felt</option>
  <option value="fleece">Fleece</option>
  <option value="gold">Gold</option>
  <option value="hardshell">Hardshell</option>
  <option value="imitationleather">Imitation Leather</option>
  <option value="jersey">Jersey</option>
  <option value="lace">Lace</option>
  <option value="leather">Leather</option>
  <option value="lined">Linen</option>
  <option value="mesh">Mesh</option>
 <option value="mohair">Mo Hair</option>
  <option value ="platinum">Platinum</option>
  <option value ="patent">Patent</option>
  <option value="polyester">Polyester</option>
  <option value="ribbed">Ribbed</option>
  <option value="silver">Silver</option>
  <option value="silk">Silk</option>
  <option value ="satin">Satin</option>
  <option value ="synthetic">Synthetic</option>
  <option value="softshell">SoftShell</option>
  <option value="sweat">Sweat</option>
  <option value ="titanium">Titanium</option>
<option value ="textile">Textile</option>
  <option value="viscose">Viscose</option>
  <option value="wool">Wool</option>
 

</select>
</div>
<!-- Div for all collar type for multiple drop down
<div class="form-group" id = "AllCollarType" style = "display:None;margin-top:10px;" >
<label style="margin-left:17px;">Collar Type:</label>
<select class="form-control" multiple= "multiple" id="idcollartype">
  <option value="backless">Backless</option>
  <option value="boatneck">Boat Neck</option>
  <option value="buttondown">Button Down</option>
  <option value="cachecoeur">Cache-Coeur</option>
  <option value="contrastsollar">Contrast Collar</option>
  <option value="cowlneck">Cowl Neck</option>
  <option value="cupshapedcollar">Cup-Shaped Collar</option>
  <option value="cutawaycollar">Cutaway Collar</option>
  <option value ="double">Double</option>
  <option value="envelope">Envelope</option>
  <option value="henley">Henley</option>
  <option value="highcollar">High Collar</option>
  <option value="hood">Hood</option>
  <option value="kentcollar">Kent Collar</option>
  <option value="lapelcollar">Lapel Collar</option>
  <option value ="lined">Lined</option>
  <option value="lowroundneck">Low Round Neck</option>
  <option value="lowvneck">Low V-Neck</option>
  <option value="mandarin">Mandarin Collar</option>
  <option value="maocollar">Mao Collar</option>
  <option value="offtheshoulder">Off-the-shoulder</option>
  <option value="peterpancollar">Peter Pan Collar</option>
  <option value="poloneck">Polo Neck</option>
  <option value="poloshirt">Polo Shirt</option>
  <option value="roundneck">Round Neck</option>
  <option value="shawlcollar">Shawl Collar</option>
  <option value="shirtcollar">Shirt Collar</option>
  <option value="squareneck">Square Neck</option>
  <option value="turndownneck">Turn-Down Neck</option>
  <option value ="wing">Wing</option>
  <option value="vneck">V-Neck</option>
  <option value="volantcollar">Volant Collar</option>

</select>
</div>

-->

<!-- Div for all collar type for multiple drop down -->
<div class="form-group" id = "AllCollarType" style = "display:None;margin-top:10px;" >
<label style="margin-left:17px;">Collar Type:</label>
<select class="form-control"  id="idcollartype">
    <option value="select">Select</option>
  <option value="backless">Backless</option>
  <option value="boatneck">Boat Neck</option>
  <option value="buttondown">Button Down</option>
  <option value="cachecoeur">Cache-Coeur</option>
  <option value="contrastsollar">Contrast Collar</option>
  <option value="cowlneck">Cowl Neck</option>
  <option value="cupshapedcollar">Cup-Shaped Collar</option>
  <option value="cutawaycollar">Cutaway Collar</option>
  <option value ="double">Double</option>
  <option value="envelope">Envelope</option>
  <option value="henley">Henley</option>
  <option value="highcollar">High Collar</option>
  <option value="hood">Hood</option>
  <option value="kentcollar">Kent Collar</option>
  <option value="lapelcollar">Lapel Collar</option>
  <option value ="lined">Lined</option>
  <option value="lowroundneck">Low Round Neck</option>
  <option value="lowvneck">Low V-Neck</option>
  <option value="mandarin">Mandarin Collar</option>
  <option value="maocollar">Mao Collar</option>
  <option value="offtheshoulder">Off-the-shoulder</option>
  <option value="peterpancollar">Peter Pan Collar</option>
  <option value="poloneck">Polo Neck</option>
  <option value="poloshirt">Polo Shirt</option>
  <option value="roundneck">Round Neck</option>
  <option value="shawlcollar">Shawl Collar</option>
  <option value="shirtcollar">Shirt Collar</option>
  <option value="squareneck">Square Neck</option>
  <option value="turndownneck">Turn-Down Neck</option>
  <option value ="wing">Wing</option>
  <option value="vneck">V-Neck</option>
  <option value="volantcollar">Volant Collar</option>

</select>
</div>

<!-- Div fo r all Color>-->
<div class="form-group" id = "AllColour" style = "display:None;margin-top:10px;" >
  <label style="margin-left:45px;"> Color:</label>
  <select class="form-control" multiple= "multiple" id="idcolour"style="margin-left:5px;">
    <option value="beige">Beige</option>
    <option value="black">Black</option>
    <option value="blue">Blue</option>
    <option value="brown">Brown</option>
    <option value="gray">Gray</option>
    <option value="green">Green</option>
    <option value="multicolor">Multicolor</option>
    <option value="olive">Olive</option>
    <option value="orange">Orange</option>
    <option value="petrol">Petrol</option>
    <option value="purple">Purple</option>
    <option value="turkos">Turkos</option>
    <option value="golden">Golden</option>
    <option value="silver">Silver</option>
    <option value="pink">Pink</option>
    <option value="red">Red</option>
    <option value="white">White</option>
    <option value="yellow">Yellow</option>



  </select>
</div>

<!-- Div fo r Fastener -->
<div class="form-group" id = "Allfastener" style = "display:None;margin-top:10px;" >
  <label >Fastener:</label>
  <select class="form-control" multiple= "multiple" id="idfastener">
    <option value="buckler">Buckle/Bow</option>
    <option value="laces">Laces</option>
    <option value="slip">Slip On</option>
    <option value="strap">Straps</option>
    <option value="velcro">Velcro Fastening</option>
    <option value="zip">Zip</option>

  </select>
</div>
<!-- Div fo r Heel Hight-->
<div class="form-group" id = "AllheelHight" style = "display:None;margin-top:10px;" >
  <label >Heel Hight:</label>
  <select class="form-control" multiple= "multiple" id="idheelhight">
    <option value="high">High(over 3)</option>
    <option value="mid">Mid (1-3)</option>
    <option value="to">To 1</option>

  </select>
</div>
