

  <!-- Div for all pattern -->
    <div class="form-group" id = "AllPattern" style = "display:None;margin-top:10px;" >
      <label style="margin-left:37px;">Pattern:</label>
      <select class="form-control" multiple= "multiple" id="idpattern">
        <option value="animalprint">Animal Print</option>
        <option value="burnout">Burnout</option>
        <option value="camouflage">Camouflage</option>
        <option value="checked">Checked</option>
        <option value="colourgradient">Colour Gradient</option>
        <option value="colourful">Colourful</option>
        <option value="floral">Floral</option>
        <option value="herrringbone">Herringbone</option>
        <option value="marl">Marl</option>
        <option value="paisely">Paisely</option>
        <option value="photoprint">PhotoPrint</option>
        <option value="printstriped">PrintStriped</option>
        <option value="plain">Plain</option>
        <option value="polkadot">Polka Dot</option>
        <option value="print">Print</option>
        <option value="striped">Striped</option>
      </select>
    </div>

<!-- Div fo r all Occasion -->
<div class="form-group" id = "AllOccasion" style = "display:None;margin-top:10px;" >
  <label style="margin-left:23px;">Occasion:</label>
  <select class="form-control" multiple= "multiple" id="idoccasion">
    <option value="party">Party</option>
    <option value="evening">Evening</option>
    <option value="leisure">Leisure</option>
    <option value="business">Business</option>
    <option value="loungewear">Loungewear</option>
    <option value="traditional">Traditional</option>

  </select>
</div>

<!-- Div fo r all Collection multiple dropdown
<div class="form-group" id = "AllCollection" style = "display:None;margin-top:10px;" >
  <label style="margin-left:15px;">Collection:</label>
  <select class="form-control" multiple= "multiple" id="idcollection">
    <option value="spring-summer">Sprint/Summer</option>
    <option value="autumn-winter">Autumn/Winter</option>
  </select>
</div>
-->
<!-- Div fo r all Collection> -->
<div class="form-group" id = "AllCollection" style = "display:None;margin-top:10px;" >
  <label style="margin-left:15px;">Collection:</label>
  <select class="form-control" id="idcollection">
    <option value="select">Select</option>
    <option value="spring-summer">Spring/Summer</option>
    <option value="autumn-winter">Autumn/Winter</option>
  </select>
</div>
<!-- Div fo r all Heel type -->
<div class="form-group" id = "AllHeel" style = "display:None;margin-top:10px;" >
  <label style="margin-left:23px;">Type of Heel:</label>
  <select class="form-control" multiple= "multiple" id="idheeltype">
    <option value="blockheel">Block Heel</option>
    <option value="flat">Flat</option>
    <option value="funnel">Funnel Heel</option>
    <option value="hiddnplatform">Hidden Platform</option>
    <option value="hiddnwedge">Hidden Wedge</option>
    <option value="platform">Platform</option>
    <option value="platformboot">Platform Boots</option>
    <option value="platformtoe">Platform Toe</option>
    <option value="stilleto">Stilleto</option>
    <option value="wedge">Wedge</option>

  </select>
</div>
