{% extends "base.html" %}
{% block style %}
<!-- login css -->
<link rel="stylesheet" href="//ajax.googleapis.com/ajax/libs/jqueryui/1.10.3/themes/smoothness/jquery-ui.css" />
<link rel="stylesheet" href="/static/style/style.css" type="text/css">

<!-- login js -->
<script src="//ajax.googleapis.com/ajax/libs/jquery/1.9.1/jquery.min.js"></script>
<script src="//ajax.googleapis.com/ajax/libs/jqueryui/1.10.3/jquery-ui.js"></script>

{% endblock %}

{% block content %}
<div class = home id = "maindiv">
    <h3 class = home><b>Dear Annotator, Please select the desired option to Perform the assigned Task! Good Luck :)</b> </h3>
    <a href="{{ url_for('allUserFolder',annotator_username = annotator_username, option = '1' ) }}"><h3><b>Detailed Annotation</b></h3></a>
    <br>
     <a id = "loc" href="{{ url_for('allUserFolder',annotator_username = annotator_username,  option = '2') }}"><h3><b>Localisation</b></h3></a>
    <br>
     <a id = "seg" href="{{ url_for('allUserFolder',annotator_username = annotator_username ,  option = '3') }}"><h3><b>Segmentation</b></h3></a>

</div>

<!---<form method="get" action="/localisation">
    <button onclick="window.location.href='/localisation'">Localisation</button>
</form>--->




<footer class="container-fluid text-center">
  <p>Copyright &copy 2017- FashionRec Team</p>
</footer>
{% endblock %}
