<html>
  <head>
    <title>Welcome to Fashion Dataset Retriever's Privacy Policy</title>
  </head>
  <body>
    <link rel=stylesheet type=text/css href="{{ url_for('static', filename='style.css') }}">
    <h1>Welcome to Fashion Dataset Retriever's Privacy Policy</h1>
    <p><b>Last updated: 26th October,2017</b></p>
    <p>
    	Fashion Dataset Retriever operates as a server side service. It provides media and basic information dataset of a selected sample of fashionistas’ public user accounts. The purpose is to perform visual and textual analysis research using deep learning. This public content will be analyzed by a PhD researcher at KTH university or later other researchers who requested the dataset for research purposes only. By using the server side service, you agree to the collection and use of information in accordance with this policy.
    </p>
	<p>
	This page <a href=http://130.237.20.58/policy >http://130.237.20.58/policy</a> informs you of our policies regarding the collection, use and disclosure of personal information we receive from users of the Instagram.

	</p>
	<p>
		<strong>
			Information Collection And Use
		</strong>
	</p>

    <p >
	We collect and use fashionistas’ public profiles’ information below to provide our service and to improve our services from time to time. By improving and collecting data from time to time, it provides the up to date dataset from the public profiles.

	</p>

	<p >
		<strong>
			Instagram User's Basic Informations, Medias, Followers, Comments, Likes,Captions and Location information:
		</strong>
	</p>

    <p>
	Our service primarily provides a dataset of fashionistas’ public profiles. The service thus stores the selected public users’ basic information and shared media. Along with the media the service stores all the comments, likes and followers’ list along with the media caption. It also stores the location information of each of the media. 

	</p>
    

    <p>
		<strong>
			Log Data
		</strong>
	</p>

    <p>
	When you use Fashion Dataset Retriever service , we may receive information ("Log Data") such as your IP address, device information , the time and date of using the service, the time spent to execute the Service. This information help us to improve our service in term of performance.

	</p>
	<p>
		<strong>
			Communications
		</strong>
	</p>

    <p>
	While using our instagram dataset or our service, we may ask you to provide us with certain personally identifiable information that can be used to contact or identify you. Personally identifiable information may include your name, affiliation and email ("Personal Information of the user of our service").
	</p>
	<p>
		<strong>
			Security
		</strong>
	</p>

    <p>
	The security of your personal information (information of the user of our service) is important to us. While we strive to use commercially acceptable means to protect your personal information, we cannot guarantee its absolute security.

	</p>
	<p>
		<strong>
		Information Sharing and Disclosure
		</strong>
	</p>

    <p>
	We do not disclose instagram users’ personal information and data except in the limited circumstances described here.
	</p>
	<p>
		<strong>
			Non-Private or Non-Personal Information:
		</strong>
	</p>

    <p>
	We may share or disclose your non-private or non-personal information, such as your public user profile information and public contents.



	</p>
<p>
		<strong>
			Instagram Data Information:
		</strong>
	</p>

    <p>
	We may share or disclose the media and basic information dataset of fashionistas’ public users with other researcher in the KTH or other research related purposes. The dataset will be shared with those researchers who comply with the service policy and have a valid research reason.


	</p>
<p>
		<strong>
			Requester's Information:
		</strong>
	</p>

    <p>
	We may share or disclose the dataset requester’s personal information within the KTH university.


	</p>
<p>
		<strong>
			Changes To This Privacy Policy
		</strong>
	</p>

    <p>
	<div>
	This privacy policy is effective as of 26th October, 2017 and will remain in effect except with respect to any changes in its provisions in the future, which will be in effect immediately after being posted on this page.

</div>

We reserve the right to update or change our privacy policy at any time and you should check this privacy policy periodically. Your continued use of the service after we post any modifications to the privacy policy on this page will constitute your acknowledgment of the modifications and your consent to abide and be bound by the modified privacy policy. If we make any material changes to this privacy policy, we will update this website.



	</p>
<p>
		<strong>
			Contact:
		</strong>
	</p>

    <p>If you have any questions about this Privacy Policy, please contact us on <a href=shatha@kth.se>shatha@kth.se</a> and <a href=ummul@kth.se>ummul@kth.se</a>.


	</p>
    
    

  </body>
</html>
